@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CartVM




<!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
<!-- <meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Uthr – Fashion eCommerce HTML Template" />
<meta property="og:url" content="PAGE_URL" />
<meta property="og:site_name" content="SITE_NAME" /> -->
<!-- For the og:image content, replace the # with a link of an image -->
<!-- <meta property="og:image" content="#" />
<meta property="og:description"
content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." /> -->
<!-- Add site Favicon -->

<!-- CSS
========================= -->



<!-- Main Style CSS -->
<!--modernizr min js here-->



<!-- Structured Data  -->




<!--offcanvas menu area start-->
<div class="body_overlay">
</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offcanvas_menu_wrapper">


                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->
<!--header area start-->
<!--header area end-->
<!--breadcrumbs area start-->
<div class="breadcrumbs_area breadcrumbs_other">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content text-center">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">pages</a></li>
                    </ul>
                    <h3>Shopping Cart</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="cart_page_inner mb-60">
                <div class="row">
                    <div class="col-12">
                        <div class="cart_page_tabel">
                            @if (Model.cartItems == null || !Model.cartItems.Any())
                            {
                                <div class="text-center py-5">
                                    <h3>Your cart is empty</h3>
                                    <p class="mb-4">Looks like you haven't added any items to your cart yet.</p>
                                    <a asp-controller="Shop" asp-action="ShopPage" class="btn btn-primary">Continue Shopping</a>
                                </div>
                            }
                            else
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <th>product </th>
                                            <th>information</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.cartItems)
                                        {
                                            var product_price = product.Quantity * product.Price;
                                            <tr class="border-top">
                                                <td>
                                                    <div class="cart_product_thumb">
                                                        <img src="@product.ImageUrl" alt="Product image">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_text">
                                                        <h4>@product.ProductName</h4>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_price">
                                                        <span>$@product.Price</span>
                                                    </div>
                                                </td>
                                                <td class="product_quantity">
                                                    <div class="cart_product_quantity">
                                                        <input min="1" max="100" value="@product.Quantity" type="number" disabled>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_price">
                                                        <span>$@product_price</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart_product_remove text-right">
                                                        <form asp-action="DeleteItemFromCart" asp-controller="Cart" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to remove this item from your cart?');">
                                                            <input type="hidden" name="productId" value="@product.ProductId" />
                                                            <button type="submit" class="btn btn-link text-danger p-0">
                                                                <i class="ion-android-close"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="cart_page_button border-top d-flex justify-content-between">
                                    <div class="shopping_cart_btn">
                                        <a href="#" class="btn btn-primary border">CLEAR SHOPPING CART</a>
                                        <button class="btn btn-primary border" type="submit">UPDATE YOUR CART</button>
                                    </div>
                                    <div class="shopping_continue_btn">
                                        <a asp-controller="Shop" asp-action="ShopPage" class="btn btn-primary">CONTINUE SHOPPING</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (Model.cartItems != null && Model.cartItems.Any())
                {
                    <!--coupon code area start-->
                    <div class="cart_page_bottom">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="shopping_coupon_calculate top">
                                    <h3 class="border-bottom">Calculate Shipping </h3>
                                    <select class="select_option border">
                                        <option value="1">United Kingdom (UK)  </option>
                                        <option value="2">Åland Islands  </option>
                                        <option value="3">Afghanistan  </option>
                                        <option value="4">Belgium </option>
                                        <option value="5">Albania  </option>
                                    </select>
                                    <input class="border" placeholder="State / Country" type="text">
                                    <input class="border" placeholder="Postcode / Zip" type="text">
                                    <button class="btn btn-primary" type="submit">get a quote</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="shopping_coupon_calculate">
                                    <h3 class="border-bottom">Coupon Discount   </h3>
                                    <p>Enter your coupon code if you have one.</p>
                                    <input class="border" placeholder="Enter your code" type="text">
                                    <button class="btn btn-primary" type="submit">apply coupon</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8">
                                <div class="grand_totall_area">
                                    <div class="grand_totall_inner border-bottom">
                                        <div class="cart_subtotal d-flex justify-content-between">
                                            <p>sub total </p>
                                            <span>$@Model.TotalPrice</span>
                                        </div>
                                        <div class="cart_grandtotal d-flex justify-content-between">
                                            <p>grand total</p>
                                            <span>$@Model.TotalPrice</span>
                                        </div>
                                    </div>
                                    <div class="proceed_checkout_btn">
                                        <a asp-controller="Order" asp-action="OrderPage" class="btn btn-primary">Proceed to Checkout</a>
                                    </div>
                                    <a href="#">Checkout with Mutilple Adresses</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                }
            </div>
        </form>
    </div>
</div>
<!--shopping cart area end-->
<!--newsletter section start-->
<section class="newsletter_section newsletter_padding border-top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="newsletter_inner d-flex justify-content-between align-items-center">
                    <div class="newsletter_text">
                        <h3>keep connected</h3>
                        <p>Get updates by subscribe our weekly newsletter</p>
                    </div>
                    <div class="newsletter_subscribe">
                        <form id="mc-form">
                            <input class="border-0" id="mc-email" type="email" autocomplete="off" placeholder="Enter your email address">
                            <i class="icon-envelope-open icons"></i>
                            <button class="border-0" id="mc-submit">Subscribe</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts text-centre">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--newsletter section end-->
<!--footer area start-->
<!-- JS
============================================ -->
<!-- Main JS -->





