
@model GetAllProductsVM
<section>
 <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ion-android-close"></i></span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_zoom_gallery">
                                    <div class="product_zoom_thumb">
                                    @{
                                        var apiBaseUrl = "https://localhost:7019";
                                        var imageUrl = Model.Images != null && Model.Images.Any()
                                        ? apiBaseUrl + Model.Images.First().ImageUrl
                                        : apiBaseUrl + "/assets/img/product/default.jpg";
                                    }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>@Model.Name</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$@Model.Price</span>
                                        <span class="old_price">$@Model.Price+5</span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p> @Model.Description  </p>
                                    </div>
                                    
                                    
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<
	</div>
</section>